/* Polices */

@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

@font-face {
    font-family: 'YoungSerif';
    src: local('YoungSerif'), url('/fonts/YoungSerif.woff') format('woff');
}

/* Style de la barre de navigation */
body {
    padding: 0 10% 0 10%;
}

.brandstyle {
    font-family: 'YoungSerif';
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.linknav {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 15px;
    font-feature-settings: 'ss03'on, 'liga'off;
    margin-left: 20px;
    text-decoration: none;
}

.separator {
    padding: 5%;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

p{
    padding: 0%;
    margin: 0%;
}

h1 {
    font-family: 'YoungSerif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: large;
    line-height: 30px;
    font-feature-settings: 'ss03'on, 'liga'off;
}

h3 {
    font-family: "YoungSerif";
    font-family: normal;
    font-size: 24px;
}

.speech {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    font-feature-settings: 'ss03'on, 'liga'off;
}

.startbtn {
    color: white;
    padding: .6% 2%;
    background: linear-gradient(80deg, #5AC733 0.01%, #6CD946 100.01%);
    border: 3px solid rgba(238, 255, 232, 0.5);
    border-radius: 10px;
}

.custom-col {
    width: 30%;
}

/* Style du pied de page */

.footer {
    padding: 20px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-button {
    color: white;
    margin: 0 20px; /* Espacement entre les liens */
    text-decoration: none;
}

.footer-copy {
    margin-top: 20px;
    text-align: center;
}